<p></p>
<div  class="container">
  <div class="jumbotron">
  <h1 class="display-4">Alpha Blog</h1>
  <p class="lead">This is a very simple blog application built as part of Mashrur Hossain's<br/> Complete
  Rails Developer course on Udemy</p>
  <hr class="my-3">
  <p id="trailer">Coded with Rails 6, Ruby and Bootstrap.</p>
  <a class="btn  btn-lg" href="#" role="button">Sign-up</a>
  </div>
</div>
